name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: set node-version
        uses: actions/setup-node@v6
        with:
          registry-url: 'https://registry.npmjs.org/'
          node-version-file: 'package.json'
      - name: Show versions
        run: |
          echo "Node version: $(node --version)"
          echo "npm version: $(npm --version)"
      - name: CI Check
        run: make ci-check

      - name: Test
        run: make test
